.idea
.DS_Store
.env
__pycache__

models/*
wandb/*
data/*
cascades/*
activation_values/*
sweep_models/*
sweep_model_7/*
analyze_results/*
analyze_results_7/*

# keep README files in /data
!data/**/README.md

# keep model readme and chosen model
!models/README.md
!models/CustomEmotionModel3-20240207T033715-fu11xllu.pth

# keep face detection model
!models/version-RFB-320
